%h1.center-text CuApp
%hr
#sign-form
	.row-fluid
		.span6.offset3
		
			%form
				.form-horizontal
					.control-group
						%label.control-label Email
						.controls
							%input{:type => 'text', :name => 'email'}
					.control-group
						%label.control-label Password
						.controls
							%input{:type => 'password', :name => 'password'}
				.form-actions.center-text
					%button.btn Signin
					
				
#register-form
	.row-fluid
		.span6.offset3
		
		